body{
  background-color: rgb(235, 235, 211);
}
.Bnav {
    padding: 8px 12px;
    margin-left: 15px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex-shrink: 0; 
  
  }

.textboton{
    color: rgb(85, 85, 73);
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    font-weight: 400;
}

#Bcont{
    background-color: rgb(236, 78, 32);
    transition: background-color 0.3s ease;
    border-radius: 9px;

}
#Bcont:hover{
    background-color: rgb(197, 53, 10);
    
}

#Blist{
    background-color: rgb(255, 149, 5);
    transition: background-color 0.3s ease;
    
    border-radius: 9px;
}
#Blist:hover{
    background-color: rgb(217, 141, 35);
    
}

#navbar{
    display: flex;
   justify-content: center;
   margin: 25px;
}

